@font-face {
    font-family: Akira;
    src: url(Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: Heavitas;
    src: url(Heavitas.ttf);
}

@font-face {
    font-family: Fiore;
    src: url("fiore_ebrey/Fiore\ Ebrey\ Demo.ttf");
}

@font-face {
    font-family: Doom;
    src: url("amazdoom/AmazDooMRight.ttf");
}

@font-face {
    font-family: Philosopher;
    src: url('philosopher/Philosopher-Regular.ttf');
}

@font-face {
    font-family: CollegeDropout;
    src: url(dirty_brush_2/DirtyBrush.ttf);
}

@font-face {
    font-family: PlayBoi;
    src: url(skull_cracker/Skull\ Cracker\ Bold\ Italic.otf);
}

@font-face {
    font-family: Nike;
    src: url('nike_2002_04/Nike\ 2002-04.ttf');
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}

.header{
    position: fixed;
    width: 100vw;
    margin-top: 0;
    z-index: 2;
}

#cabecalho{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #BF045B, #D90452, #D95959);
}

section{
    background: gray;
    height: 50%;
}

.section1{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tituloJornal{
    z-index: 2;
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 80px;
    font-family: Fiore;
    margin: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(97, 97, 97), white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.noticia1{
    position: relative;
    margin-top: 150px;
    height: 440px;
    width: 340px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: 1px;
    border-radius: 120px;
    background-color: #303440;
    transition: all 0.8s ease-in-out;
}


.imagemNoticias{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 400px; 
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.8s ease-in-out;
}

.kanye{
    z-index: 1;
    position: absolute;
    margin-top: 330px;
    margin-left: 50px;
    font-family: Doom;
    font-size: 80px;
    background-image: linear-gradient(to bottom, rgb(49, 49, 49), rgb(87, 87, 87), rgb(141, 141, 141));
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.212);
    padding: 0px;
    transition: all 0.8s ease-in-out
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.titulonoticia1{
    position: absolute;
    right: 15%;
    top: 10%;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: Heavitas;
    text-shadow: 0px 0px 3px black;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.4s forwards;
    
}

.conteudonoticia1{
    position: relative;
    margin-top: -250px;
    margin-left: 350px;
    font-size: 25px;
    font-family: Philosopher;
    opacity: 0;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px black;
    animation: fadeIn 1s ease-in-out 0.4s forwards;
}

.iconeFechar{
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    height: 40px;
    width: 40px;
    padding: 1px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.4s forwards;
}

#playboiCarti{
    z-index: 1;
    position: absolute;
    margin-top: 330px;
    margin-left: 50px;
    font-family: Playboi;
    font-size: 60px;
    background-image: linear-gradient(to bottom, rgb(49, 49, 49), rgb(87, 87, 87), rgb(141, 141, 141));
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.212);
    padding: 0px;
    transition: all 0.8s ease-in-out
}
/*============================================================================*/

.noticiaHover1{
    transition: all 0.8s ease-in-out !important;
    position: relative !important;
    margin-left: 25px !important;
}

.noticiaHover2{
    position: absolute !important;
    margin-left: 50px !important;
    margin-top: 330px !important;
    transition: all 0.8s ease-in-out !important;
}

.noticia1Expansao{
    transition: all 0.8s ease-in-out;
    background-color: #580029 !important;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
    width: 1550px !important;
}

.noticia2Expansao{
    transition: all 0.8s ease-in-out;
    background-color: #580029 !important;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
    width: 1550px !important;
}

.noticiaHover3{
    transition: all 0.8s ease-in-out !important;
    position: relative !important;
    margin-left: 25px !important;
}

.noticiaHover4{
    position: absolute !important;
    margin-left: 50px !important;
    margin-top: 330px !important;
    transition: all 0.8s ease-in-out !important;
}